{% extends 'layouts.html' %}



{% block body %} 

<div class="jumbotron p-3">

<center><h1>Details</h1>
    <hr>
    <br>
    <form>
        <input type="search id="search" size="40" placeholder="Search">
            <button onclick="myFunction()">search</button>
        
    </form>
    
    <h2><a href=""><button type="button" class="btn btn-dark">Home</button></a>
        <a href="{{url_for('dashboard')}}"><button type="button" class="btn btn-dark">Dashboard</button></a>
        <button type="button" class="btn btn-dark">Signup</button>
        <button type="button" class="btn btn-dark">Q&A</button>
        <a href=""><button type="button" class="btn btn-dark">Help</button></a>
    </h2>
</center>  



<center><p><h3>Welcome</h3></center>
</div>

<center><img align="300px"src="{{url_for('static', filename='pics/pic.jfif')}}"></center>
<br><hr>

{% endblock %}